:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  --main-color: #18122b;
  --secondary-color: #393053;
  --light-color: #635985;
  --light-color-secondary: #443C68;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  
  background-color: var(--main-color);
}


