@import "../index.css";
/* ### TopBar ### */
.topBarContainer {
  background: linear-gradient(
    to bottom,
    var(--secondary-color),
    90%,
    var(--main-color)
  );
  height: 15%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.Icon {
  cursor: pointer;
}
.Close {
  transform: rotate(45deg);
}
.list {
  list-style-type: none;
  text-align: center;
}
.topBarList {
  display: none;
}
.topBarList li,
.ResponsiveOpen li {
  padding: 0.5em;
  border-radius: 1em;
  cursor: pointer;
  transition: all ease-out 0.1s;
  user-select: none;
}
.ResponsiveOpen li {
  margin: 0.2em;
}
.topBarList li:first-child,
.ResponsiveOpen li:first-child {
  font-weight: 800;
}
.topBarList li:hover,
.ResponsiveOpen li:hover {
  background-color: var(--main-color);
  box-shadow: 0 5px 5px var(--light-color-secondary);
}

.ResponsiveOpen {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.5rem;
  position: absolute;
  right: 5%;
  top: 70px;
  z-index: 1;
  border: 2px solid var(--light-color-secondary);
  border-radius: 10px;
  background: var(--secondary-color);
  transition: opacity 0.2s ease-out;
}

.ResponsiveClosed {
  display: none;
}

.hidden {
  display: none;
}

/* ### MainScreen ### */

.mainScreen {
  margin: 10px;
  flex-direction: column;
  border-radius: 20px;
  display: flex;
  border: 1px solid var(--secondary-color);
  min-height: 400px;
  height: 100%;
}
.panelLeft {
  width: 100%;
  height: 100%;
  min-height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.score {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 30px;
  top: 20px;
}
.panelLeftcontent {
  width: 100%;
  height: 100%;
}
.panelLeftWord {
  font-size: 26px;
  position: absolute;
  top: 60px;
}
.roundPanel {
  position: absolute;
  top: 0px;
  right: 30px;
}
/* ### Keyboard ### */
.keyboard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.keyboardLine {
  margin: 5px 0;
  display: flex;
  flex-wrap: nowrap;
}
.keyboardKey {
  background-color: transparent;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin: 5px 1px;
  width: 35px;
  height: 50px;
  text-transform: uppercase;
  border-radius: 10px;
  transition: background-color 0.1s ease-in-out;
}
.keyboardKey:hover {
  background-color: var(--light-color-secondary);
  cursor: pointer;
}
.keyboardKey:disabled {
  pointer-events: none;
  background-color: var(--light-color-secondary);
}

/* ### Modals ### */
.overlay {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  width: 80%;
  height: 80%;
  border: var(--secondary-color) 3px solid;
  background-color: var(--main-color);
  border-radius: 40px;
  position: relative;
}
.modalHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
}
.difficultyHeading {
  font-style: italic;
  color: burlywood;
  text-decoration: underline;
  margin-left: 30px;
}
.bottomButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContent {
  padding: 0 30px;
  display: flex;
  align-items:center;
  flex-direction: column;
  height: 80%;
}
.modalButton {
  width: 40px;
  height: 40px;
  transition: transform 0.1s linear;
}
.modalButton:last-child {
  margin-left: 20px;
}
.modalButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.scoreDetails {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}
.playAgainButton {
  background-color: var(--light-color-secondary);
  outline: none;
  border: none;
  border-radius: 10px;
  padding:10px 25px;
  color:white;
}
.playAgainButton:hover {
  background-color: var(--light-color);
  cursor: pointer;
}
.difficultyInput {
  background-color: transparent;
  color: white;
  outline: none;
  border: 2px solid var(--light-color-secondary);
  align-self: left;
  padding: 5px 10px;
  width: 150px;
}
.difficultyInput:hover {
  cursor: pointer;
}
.roundsInput {
  background-color: transparent;
  color: white;
  outline: none;
  border: 2px solid var(--light-color-secondary);
  padding: 5px 10px;
}
.difficultyInput > option {
  color: black;
}
.modalButtons {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

/* ### Loader ### */

.loader {
  border: 4px solid var(--light-color-secondary);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ### Right Panel ### */

.panelRight {
  width: 100%;
  height: 100%;
  min-height: 300px;
}
.hangedManPanel {
  height: 300px;
  width: 350px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.hangedManImageContainer {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
.imagePart {
  position: absolute;
  background-color: white;
}

.part1 {
  width: 200px;
  height: 4px;
  bottom: 40px;
  right: 40px;
}
.part2 {
  height: 250px;
  width: 4px;

  bottom: 40px;
  right: 40px;
}
.part3 {
  width: 100px;
  height: 4px;

  top: 10px;
  right: 40px;
}
.part4 {
  width: 2px;
  height: 50px;
  top: 10px;
  right: 140px;
}
.part5 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border:2px solid white;
  border-radius: 50%;
  top:60px;
  right:125px;
  transform: scale(1.05);
}
.part6 {
  width: 2px;
  height: 30px;
  top: 93px;
  right: 132px;
  transform: rotate(-30deg);
 
}
.part7 {
  width: 2px;
  height: 30px;
  top: 93px;
  right: 148px;
  transform: rotate(30deg);
}
.part8 {
  width: 2px;
  height: 50px;
  top: 95px;
  right: 140px; 
}
.part9 {
  width: 2px;
  height: 30px;
  top: 143px;
  right: 132px;
  transform: rotate(-30deg);
}
.part10 {
  width: 2px;
  height: 30px;
  top: 143px;
  right: 148px;
  transform: rotate(30deg);
  
}
.none {
  visibility:hidden;
}
/* ### Media Queries ### */

@media screen and (width>800px) {
  .Icon {
    display: none;
  }
  .topBarList {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .panel {
    width: 100%;
    height: 50%;
  }
  .hangedManPanel {
    height: 400px;
    width: 100%;
    position: relative;
  }
  .panelLeft,
  .panelRight {
    height: 400px;
    position: relative;
  }
  .mainScreen {
    flex-direction: row;
    margin: 10px 40px;
  }
  .panelLeftWord {
    font-size: 42px;
    position: static;
  }
  .roundPanel {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 20px;
    left: 30px;
  }
  .keyboardKey {
    margin: 2px 2px;
    width: 60px;
    height: 60px;
    font-size: 24px;
  }
  .keyboardLine {
    margin: 0;
  }

  .part3 { 
    top: 110px;
  }
  .part4 {
    top: 110px;
  }
  .part5 {
    top:160px;
  }
  .part6 {
    top: 195px;
  }
  .part7 {
    top: 195px;
  }
  .part8 {
    top: 195px;
  }
  .part9 {
    top: 243px;
  }
  .part10 {
    top: 243px;
  }
}
